{% extends "layout.html" %}

{% block title %}
  Edit Mood
{% endblock %}

{% block main %}
<div class="min-vh-100 text-white">
  <div class="row pt-5 pb-3">
    <div class="col-12">
      <h1 class="display-5">Edit Mood</h1>
    </div>
  </div>
  <form class="needs-validation text-white-50" novalidate="" action="/moods/edit/{{ mood[0] }}" method="POST">
    <div class="row mb-3">
      <div class="col-12 mb-3">
        <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ mood[2] }}" autocomplete="off" autofocus required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Beverage name required.
        </div>
      </div>
      <div class="col-12 mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea class="form-control notes" id="notes" name="notes" placeholder="Notes">{{ mood[3] }}</textarea>
      </div>
    </div>
    <a type="button" class="btn btn-secondary" href="/moods">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
