{% extends "layout.html" %}

{% block title %}
  Add Journey
{% endblock %}

{% block main %}
<div class="min-vh-100">
  <form class="needs-validation text-white-50" novalidate="" action="/journeys/create" method="POST">
    <!-- Date and save -->
    <div class="row d-flex justify-content-between my-5">
      <div class="col-3">
        <div class="input-group date" data-provide="datepicker">
          <input type="text" class="form-control" id="date" name="date" placeholder="Date" autocomplete="off" autofocus aria-label="Date" aria-describedby="calendar">
          <span class="input-group-addon input-group-text" id="calendar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
              <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <a type="button" class="btn btn-secondary me-2" href="/">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

    <!-- Tabs -->
    <ul class="nav nav-tabs nav-fill" id="tab-menu" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">General</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="diary-tab" data-bs-toggle="tab" data-bs-target="#diary-tab-pane" type="button" role="tab" aria-controls="diary-tab-pane" aria-selected="false" diary>Diary</button>
      </li>
    </ul>

    <!-- Contents -->
    <div class="tab-content mt-3" id="tab-menu-content">
      <!-- General -->
      <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
        <div class="col-md-12 mb-3">
          <label for="option_select">Mood</label>
          <select class="custom-select form-control" name="mood_id" id="mood_id">
            <option value="option_select" disabled selected>Select mood</option>
            {% for mood in moods %}
              <option value="{{ mood[0] }}">{{ mood[2] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-12 mb-3">
          <label for="weather_id">Weather</label>
          <select class="custom-select form-control" name="weather_id" id="weather_id">
            <option value="option_select" disabled selected>Select weather</option>
            {% for weather in weathers %}
              <option value="{{ weather[0] }}">{{ weather[2] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-12 mb-3">
          <label for="person_id">Person</label>
          <select class="custom-select form-control" name="person_id" id="person_id">
            <option value="option_select" disabled selected>Select person</option>
            {% for person in people %}
              <option value="{{ person[0] }}">{{ person[2] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- Diary -->
      <div class="tab-pane fade" id="diary-tab-pane" role="tabpanel" aria-labelledby="diary-tab" tabindex="3">
        <div class="row mb-3">
          <div class="col-12 mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" autocomplete="off" autofocus>
          </div>
          <div class="col-12 mb-3">
            <label for="diary" class="form-label">Diary</label>
            <textarea class="form-control diary" id="diary" name="diary" placeholder="Write something here"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
