.lucisco-color {
  color: #677AD9;
}

.lucisco-background {
  background-color: #677AD9;
}

.color-background {
  background: #121212;
}

.header-background {
  background-color: #1F1F1F;
}

.area-color {
  color: #1E1E1E;
}

/* Bootstrap modifications */
.btn-primary {
  background-color: #677AD9 !important;
  border-color: #121212 !important;
}
.btn-primary:hover {
  background-color: #121212 !important;
  border-color: #677AD9 !important;
}
.btn-primary:focus {
  border-color: #677AD9 !important;
  box-shadow: 0 0 0 0.2rem #677AD9 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}
.navbar-custom .active,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #677AD9 !important;
}

.navbar-custom .navbar-toggler {
    color: #677AD9 !important;
    border-color: #677AD9 !important;
}

.nav-tabs .nav-item .nav-link {
  background-color: #1E1E1E;
  color: #DEE2E6;
}
.nav-tabs .nav-item .nav-link.active {
  border: 1px solid #ccc;
  background-color: #677AD9;
  color: #FFFFFF;
}
