{% extends "layout.html" %}

{% block title %}
  Journey
{% endblock %}

{% block main %}
<div class="min-vh-100 py-5">
  <ul class="nav nav-tabs mt-5 nav-fill" id="tab-menu" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-pane" type="button" role="tab" aria-controls="general-tab-pane" aria-selected="true">General</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="food-tab" data-bs-toggle="tab" data-bs-target="#food-tab-pane" type="button" role="tab" aria-controls="food-tab-pane" aria-selected="false">Food</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="expenses-tab" data-bs-toggle="tab" data-bs-target="#expenses-tab-pane" type="button" role="tab" aria-controls="expenses-tab-pane" aria-selected="false">Expenses</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="diary-tab" data-bs-toggle="tab" data-bs-target="#diary-tab-pane" type="button" role="tab" aria-controls="diary-tab-pane" aria-selected="false" diary>Diary</button>
    </li>
  </ul>
  <div class="tab-content mt-3 text-bg-dark" id="tab-menu-content">
    <div class="tab-pane fade show active" id="general-tab-pane" role="tabpanel" aria-labelledby="general-tab" tabindex="0">
      I
    </div>
    <div class="tab-pane fade" id="food-tab-pane" role="tabpanel" aria-labelledby="food-tab" tabindex="1">
      NEED
    </div>
    <div class="tab-pane fade" id="expenses-tab-pane" role="tabpanel" aria-labelledby="expenses-tab" tabindex="2">
      DILUC
    </div>
    <div class="tab-pane fade" id="diary-tab-pane" role="tabpanel" aria-labelledby="diary-tab" tabindex="3">
      ;-;
    </div>
  </div>
</div>
{% endblock %}
