{% extends "layout.html" %}

{% block title %}
  Log In
{% endblock %}

{% block main %}
<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <form class="needs-validation text-white-50" novalidate="" action="/login" method="POST">
    <div class="col-12 mb-3 d-flex align-items-center justify-content-center">
      <img src="../static/lucisco-login.png" class="img-fluid mb-4" alt="lucisco-login.png">
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="off" autofocus required>
        <div class="valid-feedback">
          Maybe right, maybe not; but eh, it is filled.
        </div>
        <div class="invalid-feedback">
          Username required.
        </div>
      </div>
      <div class="col-12 mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        <div class="valid-feedback">
          Maybe right, maybe not; but eh, it is filled.
        </div>
        <div class="invalid-feedback">
          Password required.
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 mx-auto col-12 mb-3">
      <button class="btn btn-primary btn-block mt-3" type="submit">LOG IN</button>
    </div>
  </form>
</div>
{% endblock %}
